---
import { getSession } from "auth-astro/server";
import { getCoursesByTeacherId } from "../../../services/course";
import type { CourseClass } from "../../../types/api";
import Table from "../../../ui/Table.astro";

const session = await getSession(Astro.request);
let courses: CourseClass[] = [];
if (session) {
  courses = await getCoursesByTeacherId(session.user!.email as string);
}
---

{
  courses ? (
    <Table
      href="/instructor/course"
      id={courses.map((course) => course.id_course)}
      data={courses.map((course) => ({
        name: course.name,
        weekly_hours: course.weekly_hours,
      }))}
    />
  ) : (
    <p>No courses found</p>
  )
}
