---
import ManagementLayout from "../../../layouts/ManagementLayout.astro";

import { getCourses } from "../../../components/services/course.ts";

const { id } = Astro.params;

let courses = await getCourses();
---
HOLA
<!-- 
{
  courses && (
    <ManagementLayout title={courses.name}>
      <h1>{courses.name}</h1>
    </ManagementLayout>
  )
} -->
