---
import Button from "../ui/Button.astro";
import Input from "../ui/Input.astro";
---

<form class="w-full rounded-lg space-y-6">
  <Input
    id="hs-floating-input-email"
    type="email"
    label="Email"
    placeholder="you@email.com"
  />
  <Input
    id="hs-floating-input-password"
    type="password"
    label="Password"
    placeholder="yourpassword"
    showToggle={true}
  />
  <Button id="form-singin" name="solid">Log in</Button>
</form>
