---
import Button from "../ui/Button.astro";
---

<div class="w-full">
  <Button
    id="google-signin"
    name="white"
    icon={{ name: "logos:google-icon", size: 20}}
    iconStart={true}
    >Sign in with Google</Button>
</div>

<script>
  import { signIn } from "auth-astro/client";

  function handleGoogleSignIn() {
    signIn("google");
  }

  document
    .getElementById("google-signin")
    ?.addEventListener("click", handleGoogleSignIn);
</script>
