---
import { Button } from "@components/ui/button";
import { Icon } from "astro-icon/components";
import { Card, CardDescription, CardHeader } from "../ui/card";

function getCookie(name: string) {
  const cookie = Astro.cookies.has(name)
    ? Astro.cookies.get(name)?.value
    : false;
  return cookie;
}

const auth_error = getCookie("auth");
---

<div class="w-full space-y-4">
  <Button id="google-signin" variant="outline" className="w-full">
    <Icon name="logos:google-icon" />
    Sign in with Google</Button
  >
  {
    auth_error && (
      <Card className="group bg-destructive">
        <CardHeader>
          <CardDescription className="text-destructive-foreground text-center text-balance">
            No account associated with this email was found.
          </CardDescription>
        </CardHeader>
      </Card>
    )
  }
</div>

<script>
  import { signIn } from "auth-astro/client";

  const button = document.getElementById("google-signin");
  if (button) {
    button.addEventListener("click", () => {
      signIn("google");
    });
  }
</script>
