---
import Button from "../ui/Button.astro";

function getCookie(name: string) {
  const cookie = Astro.cookies.has(name) ? Astro.cookies.get(name)?.value : "";
  return cookie;
}

const message = getCookie("message");
---

<div class="w-full space-y-4">
  <Button
    id="google-signin"
    name="white"
    icon={{ name: "logos:google-icon", size: 20 }}
    iconStart={true}>Sign in with Google</Button
  >
  {
    message && (
      <div
        id="message-box"
        class="text-center text-balance font-medium bg-light-background-100 dark:bg-dark-background-900 text-danger-700 dark:text-danger-400 px-4 py-2 rounded-lg border border-light-background-200 dark:border-dark-background-800"
      >
        {message}
      </div>
    )
  }
</div>

<script>
  import { signIn } from "auth-astro/client";

  function handleGoogleSignIn() {
    signIn("google");
  }

  document
    .getElementById("google-signin")
    ?.addEventListener("click", handleGoogleSignIn);
</script>
