---
import Dashboard from "../../../components/pages/Dashboard.astro";
import { getCourseById } from "../../../components/services/course.ts";
import Layout from "../../../layouts/Layout.astro";

const { id } = Astro.params;

let course;
if (id) {
  course = await getCourseById(id);
}
---

<Layout title="teacher">
  <Dashboard>
    <div slot="main-content">
      <div class="flex flex-col space-y-4">
        <h1 class="text-2xl font-semibold">Course: {course?.name}</h1>
      </div>
    </div>
  </Dashboard>
</Layout>
