---
import { Image } from "astro:assets";
import Logo from "../../assets/logo.svg";
import NavBar from "../ui/NavBar.astro";
---

<div class="flex flex-col lg:flex-row">
  <!-- Sidebar -->
  <div
    id="hs-offcanvas-example"
    class="hs-overlay bg-card [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full transition-all hidden lg:block duration-300 transform fixed top-0 start-0 bottom-0 z-[60] lg:z-0 w-64 pt-7 pb-0 overflow-y-auto h-screen lg:sticky lg:translate-x-0 lg:end-auto border-e"
    role="dialog"
    tabindex="-1"
    aria-label="Sidebar"
  >
    <div class="px-6">
      <a
        class="font-semibold text-xl flex items-center space-x-4"
        href="/"
        aria-label="logo"
      >
        <Image src={Logo} alt="logo" width={40} />
        <span class="text-balance">José Gálvez Barrenechea</span>
      </a>
    </div>
    <nav
      class="hs-accordion-group p-6 w-full flex flex-col flex-wrap"
      data-hs-accordion-always-open
    >
      <ul class="space-y-1.5">
        <slot name="sidebar" />
      </ul>
    </nav>
  </div>
  <!-- Main Content Slot -->
  <div class="flex-1 h-screen flex flex-col">
    <NavBar />
    <main
      class="overflow-y-auto overflow-x-hidden" >
      <slot name="main-content" />
    </main>
  </div>
</div>
