---
import { Picture } from "astro:assets";
import BackgroundImage from "../../assets/login_background.webp";
import SignInGoogle from "../form/SignInGoogle.astro";
import Toggle from "../../components/Toggle.astro";
---

<div class="flex h-screen overflow-hidden">
  <!-- Background Image Section -->
  <div class="hidden md:block w-full h-full">
    <Picture
      src={BackgroundImage}
      alt="background"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Main Content Section -->
  <div
    class="w-[600px] h-full animate-fade-in-up flex flex-col justify-between items-center flex-grow md:p-12 p-6"
  >
    <!-- Login Form and Logo Section -->
    <div class="w-80 flex flex-col items-center justify-center flex-grow">
      <img src="favicon.svg" alt="logo" class="w-40 mx-auto mb-14" />
      <SignInGoogle />   
    </div>

    <!-- Footer Section -->
    <footer
      class="w-80 text-sm text-center text-light-foreground-400 dark:text-dark-foreground-300"
    >
      <hr
        class="mb-4 border-light-foreground-300 dark:border-dark-foreground-500"
      />
      <div class="flex items-center justify-center space-x-3">
        <span>José Gálvez Barrenechea - {new Date().getFullYear()}</span>
        <Toggle />
      </div>
    </footer>
  </div>
</div>
