---
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
import Logo from "@/assets/logo.svg";
import BackgroundImage from "@/assets/login_background.webp";
import SignInGoogle from "../form/SignInGoogle.astro";
import { Toggle } from "@components/Toggle";
import { Separator } from "@components/ui/separator";
---

<div class="flex h-screen overflow-hidden">
  <!-- Background Image Section -->
  <div class="hidden md:block w-full h-full">
    <Picture
      src={BackgroundImage}
      alt="background"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Main Content Section -->
  <div
    class="w-[600px] h-full animate-fade-in-up flex flex-col justify-between items-center flex-grow md:p-12 p-6"
  >
    <!-- Login Form and Logo Section -->
    <div class="w-80 flex flex-col items-center justify-center flex-grow">
      <Image src={Logo} alt="logo" class="w-40 mx-auto mb-14" />
      <SignInGoogle />
    </div>

    <!-- Footer Section -->
    <footer
      class="w-80 text-sm text-center space-y-4"
    >
      <Separator/>
      <div class="flex items-center justify-center gap-4">
        <span>José Gálvez Barrenechea - {new Date().getFullYear()}</span>
        <Toggle client:visible />
      </div>
    </footer>
  </div>
</div>
