---
import HomeLayout from "../layouts/HomeLayout.astro";
import Button from "../components/ui/Button.astro";
---

<HomeLayout title="Home">
  Dashboard
  <!-- This adds margin equal to sidebar width on lg screens -->
  <!-- <div class="text-center">
    <Button
      name="solid"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="hs-offcanvas-example"
      aria-label="Toggle navigation"
      data-hs-overlay="#hs-offcanvas-example"
      text="Open Sidebar"
    />
  </div> -->
</HomeLayout>
