---
import HomeLayout from "../layouts/HomeLayout.astro";
import Table from "../components/ui/Table.astro";

const response = await fetch(`${import.meta.env.SERVER_URL}/representantes`);
const data = await response.json();
console.log(data)
---

<HomeLayout title="Home">
  Dashboard
  <!-- This adds margin equal to sidebar width on lg screens -->
  <!-- <div class="text-center">
    <Button
      name="solid"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="hs-offcanvas-example"
      aria-label="Toggle navigation"
      data-hs-overlay="#hs-offcanvas-example"
      text="Open Sidebar"
    />
  </div> -->
  <Table data={data} />
</HomeLayout>
