---
import NavLink from "../../ui/NavLink.astro";
---

<div >
  <NavLink href="/management" text="Dashboard" icon={{ name: "mdi:view-dashboard-outline" }} />
  <NavLink text="Courses" icon={{ name: "mdi:book-open-variant" }} 
  items={[ 
    { href: "/management/course", text: "All Courses" },
    { href: "/management/course/add-course", text: "Add Course" },
  ]}
  />
  <NavLink text="Students" icon={{ name: "mdi:account-student" }} 
  items={[ 
    { href: "/management/student", text: "All Students" },
    { href: "/management/student/add-parent", text: "Add Parent" },
    { href: "/management/student/add-student", text: "Add Student" },
  ]}
  />
  <NavLink text="Enrollment" icon={{ name: "mdi:book-plus-outline" }} 
  items={[ 
    { href: "/management/enrollment", text: "Enrollment Student" },
  ]}
  />
  <NavLink text="Schedule" icon={{ name: "mdi:book-schedule" }} 
  items={[ 
    { href: "/management/schedule", text: "Schedule" },
    { href: "/management/schedule/schedules", text: "Schedules" },
  ]}
  />
</div>
