---
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---
<div class="hs-dropdown">
   <Button
    id="hs-dropdown-dark-mode"
    class="hs-dropdown-toggle hs-dark-mode"
    name="circle"
    aria-haspopup="menu"
    aria-expanded="false"
    aria-label="Dropdown"
  >
    <Icon
      name="mdi:moon-and-stars"
      class="hs-dark-mode-active:hidden block size-5"
    />
    <Icon
      name="mdi:white-balance-sunny"
      class="hs-dark-mode-active:block hidden size-5"
    />
  </Button>

  <div
    id="selectThemeDropdown"
    class="hs-dropdown-menu hs-dropdown-open:opacity-100 mt-2 hidden z-10 transition-[margin,opacity] opacity-0 duration-300 mb-2 origin-bottom-left shadow-md rounded-lg p-1 space-y-0.5 border bg-light-background-100 border-light-background-200 dark:bg-dark-background-900 dark:border-dark-background-800"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="hs-dropdown-dark-mode"
  >
    <Button name="ghost" data-hs-theme-click-value="default">Light</Button>
    <Button name="ghost" data-hs-theme-click-value="dark">Dark</Button>
    <Button name="ghost" data-hs-theme-click-value="auto">Auto</Button>
  </div>
</div>
