---
import NavLink from "../../ui/NavLink.astro";
import Dashboard from "../Dashboard.astro";
---

<div >
  <NavLink href="/instructor" text="Dashboard" icon={{ name: "mdi:view-dashboard-outline" }} />
</div>
