---
import {
  Card,
  CardHeader,
  CardDescription,
  CardTitle,
  CardContent,
} from "@/components/ui/card";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Card className="max-w-3xl mx-auto">
  <CardHeader>
    <CardTitle>
      Instructor Dashboard
      <span>BETA</span>
    </CardTitle>
    <CardDescription
      className="bg-primary/10 border-l-4 border-primary p-4 mb-6"
    >
      <p>Welcome, <span class="font-semibold">{session?.user?.name}</span></p>
    </CardDescription>
  </CardHeader>
  <CardContent>
    <p>
      This is only a preview of the web application. The final version will have
      more features and improvements.
    </p>
  </CardContent>
</Card>
