---
import NavLink from "../../ui/NavLink.astro";
---

<div >
  <NavLink href="/instructor" text="Dashboard" icon={{ name: "mdi:view-dashboard-outline" }} />
  <NavLink href="/instructor/course" text="Courses" icon={{ name: "mdi:book-open-outline" }} />
  <NavLink href="/instructor/student" text="Students" icon={{ name: "mdi:account-group-outline" }} />
  <NavLink href="/instructor/attendance" text="Attendance" icon={{ name: "mdi:format-list-bulleted" }} />
  <NavLink href="/instructor/notes" text="Notes" icon={{ name: "mdi:post-it-note-add" }} />
</div>
