---
interface Props {
  title: string;
}
import InstructorSidebar from "../components/pages/instructor/InstructorSidebar.astro";
import Dashboard from "../components/pages/Dashboard.astro";
import Layout from "../layouts/Layout.astro";
const { title } = Astro.props as Props;
---

<Layout title={title}>
  <Dashboard>
    <InstructorSidebar slot="sidebar" />
    <div slot="main-content" class="gap-3 p-3">
      <slot />
    </div>
  </Dashboard>
</Layout>
