---
import { Image } from "astro:assets";
import Logo from "../../assets/logo.svg";
import { Toggle } from "@components/Toggle";
import Avatar from "./Avatar.astro";
import { Button } from "./button";
import { PanelLeftOpen } from "lucide-react";
---

<header
  class="flex items-center text-sm py-3 border-b bg-card"
>
  <nav class="w-full px-3 flex flex-row items-center justify-between">
    <div class="flex gap-2 items-center lg:hidden">
      <Button
        variant="ghost"
        size="icon"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="hs-offcanvas-example"
        aria-label="Toggle navigation"
        data-hs-overlay="#hs-offcanvas-example"
      >
        <PanelLeftOpen />
      </Button>
      <a href="/" aria-label="Logo">
        <Image src={Logo} alt="logo" width={30} />
      </a>
    </div>
    <div class="ml-auto flex items-center space-x-3">
      <Toggle client:visible />
      <Avatar />
    </div>
  </nav>
</header>
