---
interface Props {
  href: string;
  id: number[];
  data: any[];
}
const { data, id, href } = Astro.props as Props;

import Button from "../ui/Button.astro";
const columns = Object.keys(data[0]);

const transformColumnName = (columnName: string) => {
  return columnName
    .split("_")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
};
---

<div class="overflow-x-auto">
  <div
    class="p-1.5 w-full inline-block align-middle border bg-light-background-100 border-light-background-200 dark:bg-dark-background-900 dark:border-dark-background-800"
  >
    <table
      class="w-full divide-y divide-light-background-400 dark:divide-dark-background-500 group text-center"
    >
      <thead>
        <tr>
          {
            columns.map((column: string) => (
              <th
                scope="col"
                class="px-6 py-3 text-xs font-bold uppercase text-light-foreground-400 dark:text-dark-foreground-300"
              >
                {transformColumnName(column)}
              </th>
            ))
          }
          <th
            scope="col"
            class="px-6 py-3 text-xs font-bold uppercase text-light-foreground-400 dark:text-dark-foreground-300"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody
        class="divide-y divide-light-background-400 dark:divide-dark-background-500"
      >
        {
          data.map((row, index) => (
            <tr class="group text-light-foreground-400 dark:text-dark-foreground-300 hover:bg-light-background-200 dark:hover:bg-dark-background-800 hover:text-primary dark:hover:text-dark-foreground">
              {columns.map((column: string) => (
                <td class="px-6 py-4 text-sm">{row[column]}</td>
              ))}
              <td class="px-6 py-4 text-sm">
                <Button name="link">
                  <a
                    href={`${href}/${id[index]}`}
                  >
                    View Course
                  </a>
                </Button>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>
